/* Modal styles */
.event-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--primary-dark);
    border-radius: 8px;
    width: 100%;
    max-width: 440px;
    position: relative;
    gap: 24px;
    margin-top: 8px;
}

.modal-content h2{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    padding: 24px 24px 0 24px;
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text);
    z-index: 100;
}

.event-date {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding:16px 24px;
}


.event-description{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding:16px 24px;
}
.speakers-attendees {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 16px 24px;
}

.avatars {
    display: flex;
    margin-bottom: 10px;
}

.avatar-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: -10px;
}

.modal-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 24px;
    background-color: var(--modal_action);
}

.edit-btn, .delete-btn, .mark-completed-btn {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.edit-btn {
    background-color: #f0f0f0;
    box-shadow: var(--bs);
}

.delete-btn {
    background-color: #ff4444;
    color: white;
}

.mark-completed-btn {
    background-color: var(--sm_active);
    color: white;
}

.notification{
    position: relative;
}

/* Notification styles */
.notification-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff3b5c;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    min-width: 18px;
    text-align: center;
}

.notifications-panel {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 92%;
    padding: 16px;
    background-color: #000000e0;
    backdrop-filter: blur (10px);
    border-radius: 8px;
    box-shadow: var(--bs);
    z-index: 1000;
    color: white;
}

.notifications-header {
    padding: 15px;
    border-bottom: 1px solid #adadad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifications-list {
    max-height: 400px;
    overflow: scroll;
    scrollbar-width: 0;
}

.notifications-list::-webkit-scrollbar{
    display: none;
}

.notification-item {
    padding: 15px;
    border-bottom: 1px dotted #eee;
}

.notification-time {
    font-size: 12px;
    color: #ccc;
}

.close-notifications{
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


.close-notifications:hover{
    background-color: var(--sm_active);
    color: white;
}

/* Options menu styles */
.options-menu {
    position: absolute;
    width: 150px;
    background-color: var(--primary-dark);
    color: var(--text);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.options-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.options-menu li {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.options-menu li:hover {
    background-color: var(--new-select);
    color: var(--active);
}

/* Trash view styles */
.restore-btn, .permanent-delete-btn {
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.restore-btn {
    background-color: #4CAF50;
    color: white;
}

.permanent-delete-btn {
    background-color: #ff4444;
    color: white;
}

.time_delete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.delete-notification-btn{
    background-color: transparent;
    border: none;
}


.modal-edit-form{
    margin: 0;
    text-align: start;
    width: 100%;
    padding: 16px;
}
.modal-edit-form h2{
    padding: 0;
    margin-bottom:20px ;
}

#editEventForm{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    width: 100%;
}

.form-group label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.form-group select{
    width: 100%;
    border-bottom: solid white 1px;
}

.form-group input{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text);
    border-bottom: solid var(--text) 1px;
    color: var(--text);
}

.form-group textarea{
    resize: none;
    width: 100%;
    height: auto;
    padding: 8px;
    border: none;
    outline: none;
    display: flex;
    background-color: transparent;
    border-bottom: solid var(--text) 1px;
    color: var(--text);
}

.cancel-edit-btn,
.save-edit-btn{
    padding: 10px 15px;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
}

.cancel-edit-btn{
    background-color: #ff4444;
}

.save-edit-btn{
    background-color: var(--sm_active);
}

@media (min-width: 768px){
    .notifications-panel{
        width: 500px;
    }

    .modal-actions{
        flex-direction: row;
        justify-content: space-between;
    }

    .edit-btn{
        width: 70px;
        height: 36px;
        margin-right: 60px;
    }

    .delete-btn{
        width: 75px;
        height: 36px;
        padding: 8px 16px 8px 16px;
        border-radius: 2px 0px 0px 0px;
    }
    .mark-completed-btn{
        width: 159px;
        height: 36px;
        padding: 8px 16px 8px 16px;
        border-radius: 2px 0px 0px 0px;
    }
}